body {
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-center{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 3rem;
}

.form-group{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: c;
}
.form-group label{
    font-size: 2rem;
    padding: 1rem 0;
}

.form-group input{
    font-size: 2rem;
    padding: 0.5rem 0;
    margin: 1rem;
    border-radius: 5px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    padding: .5rem;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}